<div class="row">
  <div class="span8">
    <p>
      This web application suffers
      <ul>
        <li>a broken authentication mechanism (user enumeration and cross site scripting);</li>
        <li>backend url is disallowed by robots.txt but it can be easily accessed;</li>
        <li>the hello API is broken (cross site scripting).</li>
      </ul>
    </p>
  </div>
</div>
